<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My personal portfolio</title>
    <link rel="stylesheet" href="index.css">
    <link rel="Javascript" href="animate.js">
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

</head>

<body>
    <header class="head">
        <nav>
            <h1 class="logo">Thar<span>cisse</span></h1>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#resume">Skills</a></li>
                <li><a href="#portfolio">Projects</a></li>
                
            </ul>
        </nav>
    </header>

    <main class="main">
        <section class="introduction">
            <div class="name-section">
                <div class="names">
                    <h1 class="greeting" >HI, I am <span class="firstname">Tharcisse</span> <span class="last-name">Ntirandekura</span></h1>
                </div>
                <div class="image">
                    <img src="icon.png" alt="">
                </div>

            </div>
        </section>
        <section class="social-contact">
            <li><a id="resume" href="path/to/image.jpg" download>Resume</a></li>
            <li><a id ="email" href="mailto:tntirand@oberlin.edu" target="_blank"><i class="fa fa-envelope-o"></i></a></li>
            <li><a id="github" href="https://github.com/tharcissentirandekura" target="_black"><i class="fa fa-github"></i></a></li>
            <li><a id ="linkedin" href="https://www.linkedin.com/in/tharcisse-ntirandekura-8a7aa3246" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </section>
    </main>

    <section class="main-content">
        <div class="intro-about">
            <h1 class="h-1">About me</h1>
            <h2 class="h-2">Introduction</h2>
            <div class="paragraph-1">
                <p>
                    I am Tharcisse a software engineer and data scientist. I am a computer science student passionate about solving daily small challenges that can make a big impact on our development. I develop and design apps that helps students, and teachers improve classroom experience. I also do web as a full stack developper.
                </p>
            </div>
        </div>
        <div class="intro-skills">
            <h1 class="h-1-skills">Skills</h1>
            <h2 class="h-2-skills">Teck Stack</h2>

            <div class="stack-fonts">
                <h1 class="teck-stack" style="font-size: 19px;">Languages</h1>
                <span class="fa ">Python</span>
                <span class="fa">Java</span>
                <span class="fa">JavaScript</span>
                <span class="fa">Html</span>
                <span class="fa">Css</span>
                <span class="fa">Sql</span>

                <h1 class="teck-stack" style="font-size: 19px;">Technologies & Frameworks</h1>
                <span class="fa ">django</span>
                <span class="fa">Git</span>
                <span class="fa">Github</span>
                <span class="fa">Sqlite</span>
                <span class="fa">Bash</span>
                <span class="fa">CyberChief</span>
            </div>

        </div>

        <div class="intro-projects">
            <h1 class="h-1-skills">Projects</h1>

            <div class="project-1">
                <h1 class="h-1-project">Collatz Visualizer <a href="http://tharack.pythonanywhere.com/graph" target="_blank">Visit here</a></h1>
                    <p>A Collatz visualizer is a tool that allows you to explore and visualize the Collatz sequence for a given input. It provides an interactive interface where you can input a positive integer and observe how the sequence evolves. The visualizer displays the sequence as a series of numbers and visually represents the transitions between terms, making it easier to understand the iterative process. It offers a dynamic and educational way to engage with the Collatz conjecture and observe the fascinating patterns and behaviors of the sequence.<span class="link-article"> Read more</span>
                        
                    </p>

                    <div class="tools-used">
                        <span class="fa ">Python</span>
                        <span class="fa">Django</span>
                        <span class="fa">Javascript</span>
                        <span class="fa">Chart.js</span>
                        <span class="fa">Html</span>
                        <span class="fa">Css</span>
                    </div>
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px" aria-hidden="true"><path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path></svg> -->
                

            </div>


            <div class="project-2">
                <h1 class="h-2-project">Media Computation<a href="http://tharack.pythonanywhere.com/graph" target="_blank">Visit here</a></h1>
                <p>A Collatz visualizer is a tool that allows you to explore and visualize the Collatz sequence for a given input. It provides an interactive interface where you can input a positive integer and observe how the sequence evolves. The visualizer displays the sequence as a series of numbers and visually represents the transitions between terms, making it easier to understand the iterative process. It offers a dynamic and educational way to engage with the Collatz conjecture and observe the fascinating patterns and behaviors of the sequence.<span class="link-article"> Read more</span>
                    
                </p>

                <div class="tools-used">
                    <span class="fa ">Python</span>
                    <span class="fa">Django</span>
                    <span class="fa">Javascript</span>
                    <span class="fa">Chart.js</span>
                    <span class="fa">Html</span>
                    <span class="fa">Css</span>
                </div>
                
        </div>
    </section>
</body>
</html>
